<h1>Projetos</h1>
    <div class="project-area">
        <div class="project">
            <img src="/assets/img/Lápis e bloco de notas _ Vetor Premium.jpg" alt="Projeto 1">
            <div class="project-content">
                <h2>Bloco de Notas</h2>
                <p>básico e prático para registrar informações, ideias, tarefas ou qualquer tipo de anotação rápida.</p>
            </div>
        </div>
        <div class="project">
            <img src="/assets/img/Calendario.jpg" alt="Projeto 2">
            <div class="project-content">
                <h2>Calendário</h2>
                <p>representação visual organizada do tempo, dividindo o ano em unidades menores como meses, semanas e dias.</p>
            </div>
        </div>
        <div class="project">
            <img src="/assets/img/lista de tarefas.jpg" alt="Projeto 3">
            <div class="project-content">
                <h2>Lista de Tarefas</h2>
                <p>ferramenta organizacional eficiente para gerenciar e priorizar atividades diárias, semanais ou projetos maiores.</p>
            </div>
        </div>
                    <div class="project">
            <img src="/assets/img/calculadora.jpg" alt="Projeto 4">
            <div class="project" (click)="abreProjeto('piadas')">
                <h2>API de piadas</h2>
                <p>API de piadas e Google Tradutor.</p>
            </div>
        </div>
        <!-- Adicione mais projetos conforme necessário -->
    </div>
