h1{
    text-align: center;
}

.project-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px;
    padding: 60px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border: 5px solid #0ef7f7;
}
.project {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}
.project:hover {
    transform: scale(1.05);
}
.project img {
    width: 100%;
    height: auto;
}
.project-content {
    padding: 20px;
    text-align: center;
}
.project h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
}
.project p {
    font-size: 1em;
    color: #666;
    margin: 0;
}
