<section class="fundo">
    <article>
        <h1> Sobre mim</h1>
    <p>
        Sou Melissa Silva, estudante do ensino médio no Rauliuno Horn/Indaial. 
        Tenho curso concluído em Informática Profissional,
        e para meu futuro gostaria fazer faculdade de gestão de TI. 
    </p>
    <p>
        Na minha vida pessoal, sou vem extrovertida e animada.
        Nas minhas horas vagas gosto de cozinhar e assitir podcast
        Gosto de lugares tranquilos, natureza, praia e animais 
        Futuramente quero ter minha casa própria e trabalhar em um emprego
        que me favoreça. 
        Meus principais objetivos é trabalhar bastante para construir uma pessoa 
        digna, sucedida e atigir minhas metas futuras. 
        
    </p>
    </article>
    
    
    <figure>
        <img src="/assets/img/dc21a58a-d6dd-419e-a1ca-a420276d7b85_650x650.jpg">  
    </figure>
    

    


</section>